@charset "utf-8";
/* 共通 */
.icon a img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}



/* header */
header {
    position: relative;
    width: 100%;
    padding: 10px;
    z-index: 100;
    background: #0067C6;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.logo-size {
    width: 200px;
}

.logo-size img {
    width: 100%;
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}
